body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

  background-image: url('images/carbon-fiber-background-i2j5pgqe86x7n5vw.jpg');
  background-repeat: repeat;
  background-size: auto;
  background-attachment: fixed;
  color: #D1D5DB;
}
p,h5{
    color: #E5E5E5  !important;
}
.list-group-item {
    background: none !important;
    color: #D1D5DB !important;
}
.card{
    background: none !important;
}
.navbar {
  background: rgba(0, 0, 0, 0.6) !important;
  backdrop-filter: blur(1px) !important;
  
}

.nav-link{
    color: #D1D5DB !important;
}



#navlogo {
    width: 100px;
    height: 50px;
}
.mechanic-description {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.card{
    border: none !important;
}

.carousel {
    width: 70%;
    margin:0 auto ;
}
.carousel img{
    
    height: 100px;
}
.footer-container {
    width: 100%;
    display: flex;
    
    
background-image: url(images/ChatGPT\ Image\ Jun\ 17\,\ 2025\,\ 03_10_55\ PM.png);
}
.footer-container hr {
    border: none;
    border-top: 1px solid #ccc;
    width: 70%;
    margin-left: 15%;
}

#footer-logo{
    margin-top: 10%;
    margin-left: -80%;
    
}
#footer-logo img{
    width: 30%;
    
}
#footer-logo p{
    margin-top: 3%;
    color: white;
    width: 20em;
}

.footer-images{
    width: 30px !important;
    
}

#facebook{
    width: 35px !important;
}
#discord{
    width: 45px !important;
    margin-left: -8px;
}

#contactinfo {
    color: white;
    margin-top: 10%;
    margin-left: 5%;
}
#contactinfo ul li {
    list-style: none;
    margin-left: -30px;
    margin-top: 5px;
}

#services {
    color: white;
    margin-top: 10%;
    margin-left: 5%;
}
#services ul li {
    list-style: none;
    margin-left: -30px;
    margin-top: 5px;
}

#legalinfo {
    color: white;
    margin-top: 10%;
    margin-left: 5%;
}
#legalinfo ul li {
    list-style: none;
    margin-left: -30px;
    margin-top: 5px;
}
#newsletter {
    color: white;
    margin-top: 10%;
    margin-left: 5%;
    width: 20%;
}
#newsletter form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
#newsletter input[type="email"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 200px;
}
#newsletter button {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    width: 200px;
}
#newsletter button:hover {
    background-color: #0056b3;
}


/* .card-Civic{
    margin-left: 300px;
    
}
.list-group-item{
    margin-left: -20px;
} */
.civic-accord{
    margin-top: 50px;
    display:flex ;
 justify-content: space-evenly  ;
  
}
.card-accord{
    margin-top: -20px;
    
}


.seconddiv{
    display: flex;
    justify-content: space-evenly;

}
.thirddiv{
    display: flex;
  
}
.RAIZE{
   
    margin-left: 800px;
    margin-top: -480px;
}
.markx{
    margin-left: 200px;
    margin-top: 100px;
    
}



.fourthdiv{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-right: 100px;
}
.fithdiv{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-right: 100px;
}

.sixthdiv, .seventhdiv , .eighthdiv{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-right: 100px;
    
}
.camry-seira{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.card-sierra{
    margin-top: 20px;
}
.card-camry{
    margin-top: 60px;
}
.camry-silverado{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-right: 100px;
}
.card-silverado{
    margin-top: 4px;
}
.nissanrogue{
    margin-top: 14px;
}
.ram-F150{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-right: 100px;
}
.ford-explorer-jeep-wrangler{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    margin-right: 100px;
}
.nissan-rogue-chevrolet-equinox{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-right: 100px;
}
