body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b0b0b;
  color: #e5e5e5;
}

/* HERO */
.hero {
  height: 50vh;
  
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.hero-content h1 {
  font-size: 3rem;
  color: #fff;
}

.hero-content p {
  font-size: 1.2rem;
}

.price {
  color: #e10600;
  font-weight: bold;
}

/* SPECS */
.specs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 60px 10%;
  text-align: center;
}

.spec {
  background: #111;
  padding: 20px;
  border-radius: 10px;
}

/* DETAILS */
.detail {
  display: flex;
  gap: 40px;
  padding: 80px 10%;
  align-items: center;
}

#civicPic{
  width: 80%;
}

.detail.reverse {
  flex-direction: row-reverse;
}

.detail img {
  width: 45%;
  border-radius: 12px;
}

/* SAFETY */
.safety {
  padding: 80px 10%;
}

.safety ul {
  list-style: square;
  padding-left: 20px;
}

/* ANIMATIONS */
.reveal {
  opacity: 0;
  transition: all 0.8s ease-out;
}

.fade-right { transform: translateX(80px); opacity: 0; }
.fade-left  { transform: translateX(-80px); opacity: 0; }
.fade-up    { transform: translateY(80px); opacity: 0; }

.show {
  opacity: 1;
  transform: translate(0);
}
