body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b0b0b;
  color: #e5e5e5;
}

/* HERO */
.hero {
  height: 50vh;
  
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.hero-content h1 {
  font-size: 3rem;
  color: #fff;
}

.hero-content p {
  font-size: 1.2rem;
}

.price {
  color: #e10600;
  font-weight: bold;
}

/* SPECS */
.specs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 60px 10%;
  text-align: center;
}

.spec {
  background: #111;
  padding: 20px;
  border-radius: 10px;
}

/* DETAILS */
.detail {
  display: flex;
  gap: 40px;
  padding: 80px 10%;
  align-items: center;
}
#corolla_cross{
  width: 60%;
}

#civicPic{
  width: 80%;
}

.detail.reverse {
  flex-direction: row-reverse;
}

.detail img {
  width: 45%;
  border-radius: 12px;
}

/* SAFETY */
.safety {
  padding: 80px 10%;
}

.safety ul {
  list-style: square;
  padding-left: 20px;
}

/* ANIMATIONS */
.reveal {
  opacity: 0;
  transition: all 0.8s ease-out;
}

.fade-right { transform: translateX(80px); opacity: 0; }
.fade-left  { transform: translateX(-80px); opacity: 0; }
.fade-up    { transform: translateY(80px); opacity: 0; }

.show {
  opacity: 1;
  transform: translate(0);
}

.dark-btn {
  margin-left: 45%;
  padding: 14px 34px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;

  color: #ffffff;
  background: linear-gradient(135deg, #1f8ef1, #0066ff);
  border: none;
  border-radius: 30px;

  cursor: pointer;
  position: relative;
  overflow: hidden;

  transition: 
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background 0.3s ease;
}

/* Hover effect */
.dark-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(0, 102, 255, 0.45);
}

/* Click effect */
.dark-btn:active {
  transform: translateY(0);
  box-shadow: 0 6px 15px rgba(0, 102, 255, 0.3);
}

#arrow{
  font-size: 20px;
  
}